<%#encoding:UTF-8%>
---
title: <%= @header.title %>
layout: asciidoc
---
<div class="col-sm-3 col-md-2 sidebar">
    <nav class="navbar-static-side navbar-static-side-light">
        <%= converter.convert self, 'outline' %>
    </nav>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <%
		if !notitle && has_header?
		  %><h1<%= @id && %( id="#{@id}") %>><%= @header.title %></h1><%
		end %><%
		if (attr? :author) || (attr? :revnumber) || (attr? :revdate) || (attr? :revremark) %>
<div class="details"><%
        if attr? :author %>
<span id="author" class="author"><%= attr :author %></span><br><%
          if attr? :email %>
<span id="email" class="email"><%= sub_macros(attr :email) %></span><br><%
          end
          if (authorcount = (attr :authorcount).to_i) > 1
            (2..authorcount).each do |idx| %>
<span id="author<%= idx %>" class="author"><%= attr %(author_#{idx}) %></span><br><%
              if attr?  %(email_#{idx}) %>
<span id="email<%= idx %>" class="email"><%= sub_macros(attr %(email_#{idx})) %></span><br><%
              end
            end
          end
        end
        if attr? :revnumber %>
<span id="revnumber"><%= ((attr 'version-label') || '').downcase %> <%= attr :revnumber %><%= attr?(:revdate) ? ',' : '' %></span><%
        end
        if attr? :revdate %>
<span id="revdate"><%= attr :revdate %></span><%
        end
        if attr? :revremark %>
<br>
<span id="revremark"><%= attr :revremark %></span><%
        end %>
</div><% end %>
		<%= content %><%
		if footnotes? && !(attr? :nofootnotes) %>
		<div id="footnotes">
		<hr><%
		  footnotes.each do |fn| %><%= %(
		<div class="footnote" id="_footnote_#{fn.index}">
		<a href="#_footnoteref_#{fn.index}">#{fn.index}</a>. #{fn.text}
		</div>) %><%
		  end %>
		</div><%
		end %>
</div>
<%
unless nofooter %>
<div id="footer">
<div id="footer-text"><%
if attr? :revnumber %>
<%= %(#{attr 'version-label'} #{attr :revnumber}) %><br><%
end
if attr? 'last-update-label' %>
<%= %(#{attr 'last-update-label'} #{attr :docdatetime}) %><%
end %><%= (docinfo_content = (docinfo :footer)).empty? ? nil : %(
#{docinfo_content}) %>
</div>
</div><%
end %>            